*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: regular;
}
:root{
    --x: black;
    --y: white;
    --z: red;
}
@font-face {
    font-family: bold;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: light;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}
@property --borderanimate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderanimation{
    from{
        --borderanimate:0deg;
    }
    to{
        --borderanimate:360deg;
    }
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: var(--x);
    anchor-name: --fullwin;
}
nav{
    background-color: var(--y);
    width:100%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: right;
    position: fixed;
    z-index: 11;
    background-color: var(--x);
    color: var(--y);
    gap:25rem;
    font-family: bold;
    box-shadow: 0 0 15px var(--y),
    inset 0 0 8px var(--y)
    ;
    border-radius: 2rem;
    border: none;
}
nav h1{
    font-size: 1.7rem;
    margin-right: 4.5rem;
}
nav button{
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    border:none;
    background-color: var(--x);
    color: var(--y);
    transition: all 0.1s linear;
    cursor: pointer;
}
nav button:hover{
    scale: 0.97;
    box-shadow: 0 0 20px var(--y);
}
nav button:active{
    scale:0.93;
    box-shadow: 0 0 30px var(--y);
}
section.elements{
    height:40%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index:10;
}
.element{
    border-radius: 15px;
    overflow: hidden;
    height: 21.4rem;
    width:16.84rem;
    position: relative;
    transition:all 0.3s linear;  
    object-position: center;
    margin-left: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    
}
.element:hover{
    scale:0.93;
    box-shadow: 0 0 30px var(--y);
    border: 3px solid transparent;
    background:conic-gradient(from var(--borderanimate), transparent,transparent,transparent,
    transparent,transparent,transparent,transparent,transparent,
    transparent,transparent,transparent,transparent,
    transparent,transparent,transparent,var(--y),transparent,transparent) border-box;
    animation: borderanimation 7s;
    animation-iteration-count: infinite;
}
.element:active{
    scale:0.87;
}
.to-do{
    anchor-name: --animate;
}
.daily-planer{
    anchor-name: --dailyplan
}
.motivation{
    anchor-name: --motivate
}
.pomodoro{
    anchor-name: --pomodo;
}
.daily-goals{
    anchor-name: --dailygo;
}
.element img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
.element h2{
    position: absolute;
    bottom:4%;
    right:3%;
    color: var(--y);
    font-family: bold;
    font-size: 1.5rem;
    background: var(--x);
    border-radius: 2rem;
    padding: 0.5rem;
    opacity: 0.61;
}
.element:active{
    scale:0.94;
}
.fullelems{
    background-color: var(--y);
    border-radius: 15px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    transition: all .12s ease-in;
    z-index: 7;
    background-color: var(--x);
    color: var(--y);
    padding: 2.5rem;
}
.fullelems h2{
    margin-top: 2rem;
    font-family: bold;
    font-size: 2.7rem;
    flex:1;
}
.fullelems .backbtn{
    height:3rem;
    width:7rem;
    background-color: var(--z);
    border:2px solid var(--x);
    border-radius: 2rem;
    position: absolute;
    right:2.5%;
    top:10%;
    cursor: pointer;
    transition: all 0.2s linear;
}
.fullelems .backbtn:hover{
    scale: 0.97;
    box-shadow: 0 0 15px var(--z);
}
.fullelems .backbtn:active{
    scale: 0.92;
}
.weather{
    height:21rem;
    width:100%;
    position: relative;
    top:4rem;
    margin: 2rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    border:none;
    padding: 3px;
    display: flex;
    overflow: hidden;
    transition:all 0.3s linear;

}
.weather img{
    margin: 0.8px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border:none;
    border-radius: 1.7rem;
}
.weather:hover{
    background: linear-gradient(var(--x)) content-box,
    conic-gradient(from var(--borderanimate), transparent,transparent,transparent,
    transparent,transparent,transparent,transparent,transparent,
    transparent,transparent,transparent,transparent,transparent,transparent,transparent,
    transparent,transparent,transparent,var(--y),transparent,transparent) padding-box;
    animation: borderanimation 6s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 20px var(--y);
    scale: .993;
}
.details{
    position: absolute;
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.detail h4{
    font-family: light;
    font-size: 2rem;
}
.detail h1{
    font-family: bold;
    font-size: 4.4rem;
}
.detail h3{
    font-family: light;
    font-size: 3rem;
    margin-top: 3.2rem;
}
.details .climate{
    margin-top: 3rem;
}
.climate h1{
    font-family: bold;
    font-size: 2.7rem;
}
.climate h4{
    font-family: light;
    font-size: 1.8rem;
}
.climate p{
    font-family: light;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.to{
    scale: 0;
    position: absolute;
    position-anchor: --animate;
}
.dailyp{
    scale:0;
    position: absolute;
    position-anchor: --dailyplan;
}
.moti{
    scale: 0;
    position: absolute;
    position-anchor: --motivate;
}
.pomo{
    scale: 0;
    position: absolute;
    position-anchor: --pomodo;
}
.daily{
    scale: 0;
    position: absolute;
    position-anchor: --dailygo;
}
.dashboard{
    height:94%;
    width:100%;
    display: flex;
    padding-top: 2rem;
    gap:2rem;
}
.task-add{
    height: 95.5%;
    width:35%;
    display:flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.25s linear;
    
}
.task-add:hover{
    box-shadow: 0 0 40px var(--y);
    scale: 0.99;
}
.alltasks{
    height:95.5%;
    width: 61%;
    margin-left: 2rem;
    background-color: var(--y);
    border-radius: 1rem;
    color: var(--x);
    padding: 1.5rem;
    background-color: rgba(247, 247, 247);
    overflow-y: auto;
    transition: all 0.3s linear;
    border: 2px solid var(--x);
}
.alltasks:hover{
    box-shadow: 0 0 3.3rem var(--y);
    scale: 1.01;
}
.alltasks::-webkit-scrollbar{
    display: none;
}
.task{
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    transition: all 0.3s linear;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.task:hover{
    box-shadow: 0 0 15px var(--x);
    scale:1.023;
    border: none;
}
.task h4{
    padding-top: 0.2rem;
}
.task h4 .implogo{
    background-color: rgb(187, 192, 255);
    position: absolute;
    right:-2.9rem;
    top:-0.7rem;
    height: 1.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.alltasks button{
    margin-top: 0.3rem;
    height:2rem;
    width:3rem;
    border: 0.2px solid black;
    border-radius:1rem ;
    background-color: rgba(196, 196, 196,);
    cursor: pointer;
    transition: all 0.2s linear;
}
.alltasks button:hover{
    scale: 0.94;
    box-shadow: 0 0 5px black;
}
.alltasks h4{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.alltasks h4 span{
    margin-top: 0.3rem;
    font-size: small;
}
.task-add input{
    height:4rem;
    width:100%;
    margin-bottom: 1rem;
    text-align: left;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    overflow-y: auto;
}
.task-add input::-webkit-scrollbar{
    display: none;
}
.task-add button{
    margin-top: 0.2rem;
    height:2rem;
    width:100%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(134, 133, 133);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
.task-add button:active{
    scale:0.96;
}
.task-add .importance{
    display: flex;
    height: 1.15rem;
    overflow: hidden;
    padding: 0 0.8rem;
}
.importance #imp{
    height: fit-content;
    width: fit-content;
}
.importance label{
    font-size: .8rem;
    margin-left: 0.7rem;
}
.task-add textarea{
    max-height:26.6rem;
    min-height:26.6rem;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0.7rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    overflow-y: auto;
}
.task-add textarea::-webkit-scrollbar{
    display: none;
}
.tasks{
    height: 30rem;
    width:30rem;
    
}
.dailyp .dailytasks{
    margin-top: 2rem;
    padding: 0.2rem 2rem;
    padding-left: 3rem;
    height:87%;
    width:98.3%;
    background-color: var(--y);
    color: var(--x);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 20px;
    justify-content: space-between;
    transition: all 0.3s linear;
    border:1px solid var(--x)
}
.dailyp .dailytasks:hover{
    box-shadow: 0 0 3.5rem var(--y);
    scale:1.007;
}
.dailyp .dailytasks::-webkit-scrollbar{
    display: none;
}
.dailytasks .dailytask{
    width: 50%;
    height: 8%;
    margin-top: 0.5rem;
}
.dailytasks .dailytask input{
    width: 96%;
    height: 68%;
    padding: 1rem;
}
.dailytasks .dailytask h4{
    font-family: bold;
    color: var(--x);
    font-size: 1.2rem;
}
.motivationwindow{
    height: 70%;
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    background-color: var(--x);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1rem 1rem 30rem var(--y),
    -1rem -1rem 30rem var(--y),
    inset 0 0 2rem var(--y);
    border-radius: 20px;
}

.motivationwindow button{
    height:13%;
    width:35%;
    font-size: 1.8rem;
    font-family: bold;
    margin: 1rem;
    border-radius: 20px;
    border:none;
    color: var(--x);
    background-color: var(--y);
    transition: all 0.2s linear;
}
.motivationwindow button:hover{
    scale: 0.97;
    box-shadow: 0 0 20px var(--y);
    cursor: pointer;
}
.motivationwindow button:active{
    scale:0.9;
    background-color: var(--x);
    color: var(--y);
}
.motivationwindow h1{
    padding: 0 1rem;
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
    width: 90%;
    height: 63%;
    text-transform: uppercase;
    font-family: bold;
}
.motivationwindow h3{
    height:3rem;
    width: fit-content;
    padding: 0 2rem;
    font-family: bold;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
    background-color: var(--y);
    color: var(--x);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.motivationwindow i{
    position: absolute;
    top:1.3rem;
    right:3rem;
    font-size: 5rem;
    color: var(--y);
}
.pomo .pomodorotimer{
    height:55%;
    width:50%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear; 
    border-radius: 2rem;
}
.pomo .pomodorotimer:hover{
    box-shadow: 0 0 50px var(--y);
}
.pomodorotimer h1{
    font-family: bold;
    font-size: 5rem;
}
.pomodorotimer .timer{
    margin-top: 2.5rem;
    display: flex;
    width:30rem;
    justify-content: space-between;
}
.pomodorotimer .timer button{
    height: 3rem;
    width: 7rem;
    font-family: bold;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--x);
    color: var(--y);
    text-transform: uppercase;
    transition: all 0.14s linear;
}
.pomodorotimer .timer button:hover{
    box-shadow: 0 0 30px var(--y),
    inset 0 0 10px var(--y);
}
.pomodorotimer .timer button:active{
    box-shadow: 0 0 50px var(--y);
    scale: 0.95;
}
.goaldashboard{
    height:94%;
    width:100%;
    display: flex;
    padding-top: 2rem;
    gap:2rem;
    flex-direction: column;
}
.goal-add{
    height: 15%;
    width:100%;
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    transition: all 0.25s linear;
    
}
.goal-add form{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
}
.goal-add form input{
    height: 60%;
    padding: 1rem;
    color: var(--x);
    width: 86%;
    border-radius: 2rem;
}
.goal-add form button{
    height: 50%;
    width: 10%;
    border-radius: 2rem;
    border: none;
    background-color: rgb(134, 133, 133);
    cursor: pointer;
    color: white;
    text-transform: none;
}
.goal-add button:active{
    scale:0.92;
}
.goal-add button:hover{
    scale:0.95;
    box-shadow: 0 0 10px white;
}
.goal-add:hover{
    box-shadow: 0 0 40px var(--y);
    scale: 0.99;
}
.allgoals{
    height:74%;
    width: 96%;
    margin-left: 2rem;
    background-color: var(--y);
    border-radius: 1rem;
    color: var(--x);
    padding: 1.5rem;
    background-color: rgba(247, 247, 247);
    overflow-y: auto;
    box-shadow: 0 0 2rem var(--y);
    border: 2px solid var(--x);
}
.allgoals::-webkit-scrollbar{
    display: none;
}
.allgoals .task button{
    height: 2.3rem;
    width: 5rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.2s linear;
    margin-right: 1rem;
}
.allgoals .task{
    padding: 0.7rem 1rem;
}
.allgoals .task h4{
    display: flex;
    align-items: center;
}
.allgoals .task button i{
    font-size: 1.5rem;
}
.allgoals .task button:hover{
    scale: 0.98;
    box-shadow: 0 0 2px black;
}
.allgoals .task button:active{
    scale: 0.98;
    box-shadow: 0 0 4px black;
}